{% extends 'layout.twig' %}

{% block contents %}
    <script type="text/javascript">

        let  dataPoints = {{ dataPoints | raw }};
        if (Object.keys(dataPoints).length > 0) {
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                dataPoints = Object.entries(dataPoints);
                dataPoints = [ ['Task', 'Hours per Day'],...dataPoints]
                let data = google.visualization.arrayToDataTable(dataPoints);
                let options = {
                title: 'Projects by budget'
                };
                let chart = new google.visualization.PieChart(document.getElementById('piechart'));
                chart.draw(data, options);
            }

            function showPie()
            {
               if (document.getElementById("piechart").style.display !== 'block') {
                    document.getElementById("piechart").style.display = 'block';
                } else {
                    document.getElementById("piechart").style.display = 'none';
                }
            }
        }

    </script>
        <div class="row">
            {% if projects|length > 0 %}

            <div class="col s12">
                <table class="responsive-table">
                    <thead>
                    <tr>
                        <th>Project name</th>
                        <th>Site</th>
                        <th>Budget</th>
                        <th>Employer's login</th>
                        <th>Employer's name</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody class="servers">

                    {% for project in projects %}

                        <tr>
                            <td>
                                <div><a href="{{ project.site_project }}">{{ project.name }}</a></div>
                            </td>
                            <td>
                                <div>{{ project.site_project }}</div>
                            </td>
                            <td>
                                {% if project.budget %}
                                    <div>{{ project.budget }} UAH</div>
                                {% else %}
                                    <div>Not specified</div>
                                {% endif %}
                            </td>
                            <td>
                                <div>{{ project.login_employer }}</div>
                            </td>
                            <td>
                                <div><span>{{ project.first_name}}</span>  <span>{{ project.last_name}}</span></div>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                </table>
                <p class="flow-text">Hi! I can show or hide pie;)</p>

                <button class="btn btn-danger" onclick="showPie()">Toogle Pie</button>
                <div id="piechart" style="width: 1500px; height: 500px; display: block"></div>
            </div>
            {% endif %}

        </div>

{% endblock %}